@import "../design/scss-variables";

.container {
  display: flex;
}

.searchBar {
  background-color: $color-gray-light-1;
  color: $color-primary;
  padding: 5px;
  width: 30vw;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
