@import "../design/css-variables.css";

.container {
  display: flex;
  justify-content: flex-end;
  grid-template-columns: auto auto;
  margin-top: 5vh;
  z-index: 1;
}

.forecast {
  background-color: var(--color-gray-light-1);
  color: var(--color-primary);
  padding: 5px;
  width: 30vw;
  border: none;
  border-radius: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: all 300ms;
}

.forecast:focus,
.forecast:active {
  width: 32.5vw;
  outline: none;
}

.forecastSVG {
  display: flex;
  height: 15px;
  width: 15px;
  padding: 5px;
  position: absolute;
  margin-right: 5px;
  background-color: var(--color-gray-dark-1);
  mask-image: url(../images/SVG/magnifying-glass.svg);
  mask-size: cover;
  opacity: 0.75;
  z-index: 100;
}
